body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#cfd8dc;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
}
.navbar ol {
   align-self: center;
}
.navbar-text {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 0 15px;
    color: black;
}
.navbar a:visited {
    color: black;
}
.navbar-text a {
    color:black;
    text-decoration: none;
}
.navbar-text a::after {
    display: inline-block;
    color: #000;
    font-weight: bold;
    padding: 0 15px;
}
.active {
    color:lightskyblue !important;
}
#body-div {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.content {
    padding:8px;
    width: 70%;
    align-self: center;
    margin-top: 15px;

}
.content-assignments {
    padding:8px;
    width: 50%;
    align-self: center;
    margin-top: 15px;
    height:100vh;
    background-color: white;
}
.wrapper-box {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-self: center;
}
.content-text-box {
    width: 100%;
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
}
.content-assignment-text {
    width: 50%;
    margin-right: 5px;
    padding-left: 2rem;
}
.content-picture-box {
    width: 50%;
    border-radius: 3px;
}
.rubrik {
    justify-self: center;
}
.programming-picture {
    max-width:100%;
    max-height: 100%;
}
footer {
    background-color: transparent;
    color: white;
}